In [3]:
mydata1 = ["Mango",True,7,8,9]
print(len(mydata1))
print(type(mydata1))

5
<class 'list'>

In [5]:
mydata2 = [1,5,7,9,3]
print(len(mydata2))
print(type(mydata2))

5
<class 'list'>

In [7]:
mydata3 = ("Mango",700,1000,"Banana")
print(len(mydata3))
print(type(mydata3))

4
<class 'tuple'>

In [8]:
mydata4 = {True,False,False}
print(len(mydata4))
print(type(mydata4))

2
<class 'set'>

In [9]:
mylist=[100,True,50.5,"Rahul"]
print(len(mylist))

4

In [9]:
Employee = {"Employee id":"100041","Employee name":"Rohan","Country":"India"}
print(Employee)

{'Employee id': '100041', 'Employee name': 'Rohan', 'Country': 'India'}

In [2]:
def myname(fname):
    print(fname+""+"is my name")
myname("Madhusudhan")

Madhusudhanis my name

In [5]:
def myfunction(city,state):
    print(city+ " " +state)
myfunction("Raichur","Karnataka")

Raichur Karnataka