<a href="https://colab.research.google.com/github/madhusudhan0211/python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **#Python functions**

In [8]:
#Creating a function
#In python a function is defined using the def keyword
#example
def my_function():
    print("hello python")

In [9]:
#Calling a function
def my_function():
 print("hello python")
my_function()

hello python

In [16]:
#Arguments
def my_function(fname):
  print(fname + " is my name")
my_function("Madhu")

Madhu is my name

In [18]:
#Functions with two argumnets and gets two arguments
def my_function(fname,lname):
  print(fname+""+lname)
my_function("madhu","sudhan")

madhusudhan

In [26]:
#Arbitary arguments,*Args
def my_function(*kids):
  print("The youngest child is" + kids[2])
my_function("GOvardhan","Laxman","shivu")

The youngest child isshivu

In [27]:
#Keywords arguments
def my_function(child3,child2,child1):
  print("The youngest child is " + child3)
my_function(child1="shivu",child2="Madhu",child3="Gova")

The youngest child is Gova

In [30]:
#Default parameter value
def my_function(country="Norway"):
 print("I am from"+" " + country)
my_function("Sweden")
my_function("India")
my_function()

I am from Sweden
I am from India
I am from Norway

In [34]:
#Passing a list as an arguments
def my_function(a):
  for x in a:
    print(x)
fruits=["sapota","Apple","Mango"]
my_function(fruits)

sapota
Apple
Mango