<a href="https://colab.research.google.com/github/madhusudhan0211/python/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Lists**

mylist = ["apple", "banana", "cherry"] List Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:



  **Important properties of lists**
  
Can store different data types


Duplicate values are allowed

Order is retained

Indexing and slicing is possible

Mutable

In [1]:
# Example
# Create a List:

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

List Items List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Allow Duplicates Since lists are indexed, lists can have items with the same value:

In [2]:
# Example
# Lists allow duplicate values:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

**List Length To determine how many items a list has, use the len() function:**

In [3]:
# Example
# Print the number of items in the list:

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

List Items - Data Types List items can be of any data type:

Example String, int and boolean data types:

In [4]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

A list can contain different data types:

Example A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40, "male"]

In [5]:
#Example
#A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40, "male"]

type() From Python's perspective, lists are defined as objects with the data type 'list':

<class 'list'>

In [6]:
# Example
# What is the data type of a list?

mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

**The list() Constructor** It is also possible to use the list() constructor when creating a new list.

Example Using the list() constructor to make a List:

In [7]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

# **Indexing**

Indexing starts from 0(zero). Very much similar to what we have learnt in our previous class

In [11]:
# to get the first element
list1 = [1,2,3,4,5,6,7,8,9]
list1[0]

1

# **Slicing**

In [14]:
# [start:stop:step]

# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)
# to get first 5 elements 
list1[:6]

[1, 2, 3, 4, 5, 6]

# **mutable**

In [15]:
# to change the first value
list1[0] = 100
list1

[100, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
# similarly you can change any values based on index position
list1[2] = 300
list1

[100, 2, 300, 4, 5, 6, 7, 8, 9]

# **some inbuilt methods**

In [18]:
# my_list
my_list = [1,2,3,True]
print(my_list)

[1, 2, 3, True]

**1) .append(val)**

appends the value at the end of the list

In [19]:
my_list.append("Python")
print(my_list)

[1, 2, 3, True, 'Python']

In [20]:
my_list.append("ML")
print(my_list)

[1, 2, 3, True, 'Python', 'ML']

**2) insert(pos,element)**

inserts the element at the specified index

In [22]:
# to insert value 4 after 3
my_list.insert(3,4)
print(my_list)

[1, 2, 3, 4, 4, True, 'Python', 'ML']

**copying the lists**

1) my_list_copy = my_list

2) my_list_copy = my_list.copy()

In [23]:
print(my_list)

[1, 2, 3, 4, 4, True, 'Python', 'ML']

In [25]:
my_list_copy = my_list
print(my_list_copy)

[1, 2, 3, 4, 4, True, 'Python', 'ML']

In [26]:
my_list_copy = my_list.copy()
print(my_list)
print(my_list_copy)

[1, 2, 3, 4, 4, True, 'Python', 'ML']
[1, 2, 3, 4, 4, True, 'Python', 'ML']

**.pop(index)**

removes the element from specified index and returns the element.

In [28]:
list1 = [1,2,3,4,5,6,7,8,9]
rem = list1.pop(2)
print(rem)
print(list1)

3
[1, 2, 4, 5, 6, 7, 8, 9]