<a href="https://colab.research.google.com/github/madhusudhan0211/python/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Sets**

Set Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Note: Set items are unchangeable, but you can remove items and add new items.
Sets are written with curly brackets.

**Important properties of sets**

Can store different data types

Duplicate values are not allowed

Order is not retained

Indexing and slicing is not possible

In [ ]:
myset = {"apple", "banana", "cherry"}

In [ ]:
# Example
# Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

***Note: ***Sets are unordered, so you cannot be sure in which order the items will appear.

**Set Items**  Set items are unordered, unchangeable, and do not allow duplicate values.

**Unordered** Unordered means that the items in a set do not have a defined order.

**Set items** can appear in a different order every time you use them, and cannot be referred to by index or key.

**Unchangeable** Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

**Duplicates** Not Allowed Sets cannot have two items with the same value.

In [ ]:
# Example
# Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

**Get the Length** of a Set To determine how many items a set has, use the len() method.

In [ ]:
# Example
# Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

# **Set Items - Data Types**

Set items can be of any data type:

In [ ]:
# Example
# String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

**A set can contain different data types:**

In [ ]:
# Example
# A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}

***type() ***
From Python's perspective, sets are defined as objects with the data type 'set':

<class 'set'>

In [ ]:
# Example
# What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

**The set() Constructor** It is also possible to use the set() constructor to make a set.

In [ ]:
# Example
# Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

**Mutablility**

Once set is created you can add and remove the elements from the set, but you cannot modify the existing elements in a set

**In built methods.**
* To add the elements

**1) add(item)**

adds single item to the set

In [ ]:
set1 = {1,2,3,4,6}
# set1
set1.add(8)
print(set1)

{1, 2, 3, 4, 6, 8}

**2) .update(list)**

this method is used to add more than one items. All the items should be passed in the form of lists

In [ ]:
set1 = {1,2,3,4,5}
set1.update([6,7,8]) # pass list of values to set1
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

**3) copy()**

to copy a set

In [ ]:
set2 = set1.copy()
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

**To remove the items**

**4) remove(item)**

removes the specified item from the set. If specified item is not present it will raise error

In [ ]:
set1.remove(1)
print(set1)

{2, 3, 4, 5, 6, 7, 8}

**pop()**

Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

In [ ]:
set1 = {"a",1,"B",2,3,"c",4}
set1.pop()

1

*** clear()***

empties the set

In [ ]:
set1.clear()
print(set1)

set()