<a href="https://colab.research.google.com/github/madhusudhan0211/python/blob/main/Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. insert the missing indentation to make the code correct:
if 5>2:
  print("five is greater than two!")

five is greater than two!

In [ ]:
#2. Create a variable named carname and assign the value volvo to it and then print the variable
carname = "Volvo"
print(carname)

Volvo

In [ ]:
#3. create a variable named x and assign the value 50 to it and print the variable.
x=50
print(x)

50

In [ ]:
#4. Display the sum of 10+30, using two variables: x and y
x=10
y=30
print(x+y)

40

In [ ]:
#5. Create a variable called z, assign x+y to it where x=50 & y=100, and display the result.
x=50
y=100
z=(x+y)
print(z)

150

In [ ]:
#6. print the data types of the following:
x= "Hello world"
x= 55
x= 100.5
x= 5j
x= ["apple","banana","mango"]
x= ("apple","banana","mango")
x= {"name" : "rohan","age": 25 }
x= {"apple", "banana", "mango"}
x= "Hello world python"
print(type(x))
x= 55
print(type(x))
x= 100.5
print(type(x))
x=5j
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#7. Use a multiline string tom make the a multi line comment:
a="""This is a python multiline comment
written in 
more than just one line"""
print(a)

This is a python multiline comment
written in
more than just one line

In [ ]:
#8. Give examples og legal variables and illegal variables.
legal variables
netzwerk
NETZWERK

illegal variables
2netzwerk
NETZ_WERk

In [ ]:
#9. Exercise
#Find the length of the string.
x = "Greetings of the day"
print(len(x))

20

In [ ]:
#10. Get the first character of the string txt.
txt= "Hello Netzwerk Academy"
print(txt[1])

e

In [ ]:
#11. Get the characters from index 2 to index 4 (llo)
txt = "Hello Netzwerk Academy"
print(txt[2:4])

ll