<a href="https://colab.research.google.com/github/madhusudhan0211/python/blob/main/variables_and_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Variables:**

Variables are containers for storing data values.

variables are created when you assign a value to it:

Python has no command for declaring a variable.


**Build-in Data Types:-**

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float

Sequence Types:	list, tuple

Mapping Type:	dict

Set Types:	set

Boolean Type:	bool

Binary Types:	bytes



# **Python Numbers:**

There are three numeric types in Python:

int

float

complex

Variables of numeric types are created when you assign a value to them.

**Variable Names:**

Variables are containers for storing data values.

Creating Variables

Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it.
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 

**Rules for Python variables:** 

A variable name must start with a letter or the underscore character

A variable name cannot start with a number

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

Variable names are case-sensitive (age, Age and AGE are three different variables)

Variables do not need to be declared with any particular type, and can even change type after they have been set.

# **Type Casting**

If you want to specify the data type of a variable, this can be done with casting.

In [1]:
#3
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

3
3
3.0
<class 'str'>
<class 'int'>
<class 'float'>

In [2]:
x = 10
y = "Rohan"
a =  float(x)
print(a)
print(type(x))
print(type(y))
print(type(a))

10.0
<class 'int'>
<class 'str'>
<class 'float'>

# **Python Numbers**

There are three numeric types in Python:

int float complex Variables of numeric types are created when you assign a value to them:

In [3]:
#Example
#Convert from one type to another:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#Checking the type of the numbers:
print(type(x))
print(type(y))
print(type(z))

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>
1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# **Variable Names**

Variables Variables are containers for storing data values.

Creating Variables Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it. A variable can have a short name (like x and y) or a more descriptive name (age, carname, totalvolume). Rules for Python variables: A variable name must start with a letter or the underscore character A variable name cannot start with a number A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and ) Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
Legal variable names:

myvar = "rohan"
my_var = "rohan"
_my_var = "rohan"
myVar = "rohan"
MYVAR = "rohan"
myvar2 = "rohan"

Example
Illegal variable names:

2myvar = "rohan"
my-var = "rohan"
my var = "rohan"

In [4]:
x = 5
y = 'Hello world'

a, b, c = "orange", "Banana", 'Mango'
print(a)
print(b)
print(c)

#x=y=z= 'orange'

orange
Banana
Mango

Python Variables - Assign Multiple Values Many Values to Multiple Variables Python allows you to assign values to multiple variables in one line:

# **Output Variables**

The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character:

In [5]:
# The Python print statement is often used to output variables.
# To combine both text and a variable, Python uses the + character
x = "awesome"
print("Python is" + x)

#You can also use the + character to add a variable to another variable:
x = "Python is "
y = "awesome"
z =  x + y
print(z)
#For numbers, the + character works as a mathematical operator:
x = 5
y = 10
print(x + y)
#If you try to combine a string and a number, Python will give you an error:
#Error
# x = 5
# y = "John"
# print(x + y)

Python isawesome
Python is awesome
15

# **Python Strings**
# **Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello". You can display a string literal with the print() function:

In [6]:
#Example
print("Hello")
print('Hello')

Hello
Hello

# **Assign String to a Variable**

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [7]:
#Example
a = "Hello"
print(a)

Hello

# **Multiline Strings**

You can assign a multiline string to a variable by using three quotes:

In [8]:
# Example
# You can use three double quotes:

a = """python is awesome,
Python is simple."""
print(a)

#Or three single quotes:
#Example
a = '''python is awesome,
Python is simple.'''
print(a)

python is awesome,
Python is simple.
python is awesome,
Python is simple.

In [9]:
# Example
# Get the character at position 1 (remember that the first character has the position 0):       
a = "Hello, World!"
print(a[1])

e

In [10]:
# Looping Through a String
# Since strings are arrays, we can loop through the characters in a string, with a for loop.

# Example
# Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

In [11]:
# String Length
# To get the length of a string, use the len() function.
# Example
# The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

13

# **Slicing**
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [12]:
#Example
#Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

llo

# **Negative Indexing**
Use negative indexes to start the slice from the end of the string: Example Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [13]:
b = "Hello, World!"
print(b[-5:-2])
# Get the characters from index 2 to index 4 (llo).
txt = "Hello World"
print(txt[2:4])

orl
ll